.MainForm {
  background-color: #fafafa;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormCircleInput {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2.2rem;
}

form {
  width: 100%;
  justify-content: space-between;
}

/* Button */
.Button,
.Button:link,
.Button:visited {
  background-color: orange;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.Button:hover,
.Button:active {
  background-color: rgb(255, 145, 0);
  transform: translateY(1px);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.Button:focus {
  outline: 0;
}

.Disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media only screen and (max-width: 480px) {
  .MainForm {
    justify-content: space-evenly;
  }

  .FormCircleInput {
    margin-bottom: 2.5rem;
  }
}
