/*** BOJE ***/
/* plava prva #4577B0 */
/* svetlija plava #318BA5 */
/* headerplava #2296F3 */
/* siva #9C9A9B */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body {
  background-image: linear-gradient(to bottom right, #4577b0, #318ba5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 360px) {
  #root {
    height: 100vh;
  }
}
